@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}


body {
    background-color : #171D1F;
}

.container {
    height: 100vh;
    font-family: 'Prompt';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E1E1E1;
    gap:2rem;
}

.loginScreen {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: ;
}

.logo {
    height: 30rem;
    width: 30rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

p {

}
input {
    border: 0;
    background-color : #888888;
    color: #171D1F;
    border-radius: 0.3rem;
    width: 317.7px;
    height: 39px;
}

button {
    margin-top: 2rem;
    border: 0;
    font-family: 'Prompt', 'Bold';
    font-size: 1rem;
    background-color : #81FE88;
    border-radius: 0.3rem;
    width: 107px;
    height: 51px
}